@model IEnumerable<WebApp.Entities.Phone>

@{
    ViewData["Title"] = "Phones";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerNavigation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerNavigation.Id)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Number">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Number">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Number">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
